:root {
  --dark: #151418;
  --white: #f6f6f6;
  --dark-grey: #272727;
  --grey: #404040;
  --light-grey: #979797;
  --purple: #853fed;
  --blurple: #6a5df8;
  --blue: #00a3e9;
  --background-dark: #151418;
}

/* Base reset */
* {
  margin: 0;
  padding: 0;
  font-weight: 400;
}

/* 62.5% of 16px browser font size is 10px - Can now use this for easy rem calculations */
html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

/* Base styles */
body {
  font-size: 1.6rem; /* 16px */
  line-height: 1.4;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: var(--background-dark);
  color: var(--white);
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 4.2rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 2rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--main-white);
  cursor: pointer;
}

img {
  display: block;
  width: 100%;
}

.blurple-text {
  color: var(--blurple);
  font-weight: 500;
}

/* nav */

.navbar {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--background-dark);
  border-bottom: 2px solid var(--blurple);
  z-index: 10;
}

.nav-title {
  font-family: 'Azeret Mono', serif;
  font-size: 5rem;
  font-weight: 700;
  margin-left: 2rem;
}

.nav-list {
  display: flex;
  margin-right: 2rem;
}

@media (max-width: 28.75em) {
  .navbar {
      justify-content: center;
  }

  .nav-list {
      margin: 0 1rem;
  }
}

.nav-list a {
  display: block;
  font-size: 2rem;
  padding: 2rem;
}

.nav-list a:hover {
  color: var(--blue);
}

/* hero section */

.hero-banner {
  display: flex;
  height: 50vh;
  justify-content: space-between;
  align-items: center;
  text-align: right;
  overflow: hidden;
  background: var(--background-dark);
  background: linear-gradient(rgba(41, 40, 45, 0.8), rgba(21, 20, 24, 0.8)), url("../images/geometric-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0 10rem;
}

.hero-text {
  margin-top: 7rem;
}

.hero-text h3 {
  color: var(--light-grey);
}

.hero-text p {
  max-width: 350px;
  font-size: 1.4rem;
  font-weight: 400;
}

.hero-img img {
  margin-top: 7rem;
  max-width: 150px;
  height: auto;
  border-radius: 50%;
  outline: 2px solid var(--white);
}

/* section styling / anchors / headers */

.page-section {
  max-width: 90%;
  text-align: left;
  padding: 5rem 0 0 0;
  background: var(--main-blue);
  margin: 0 auto;
}

.section-header {
  line-height: 1.2em;
  font-size: 3.6rem;
  margin: 0 auto 2.5rem 0;
}

.section-header::before {
  content: "|";
  margin-right: 2rem;
  color: var(--blurple);
}

/* ccs trick to ensure that the fixed navbar didn't cover the section headers */
.container {
  position: relative;
}

.anchor {
  position: absolute;
  top: -70px;
  left: 0px;
}

/* portfolio grid */

/* #portfolio-grid {
  max-width: 90%;
  margin: 0 auto;
  display: grid;
  min-height: 500px;
  height: 100vh;
  grid-template-rows: 40% 30% 30%;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
  "horiseon horiseon"
  "cssCheatsheet cssGrid"
  "landingPage studentBio";
}

.project-grid-area {
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 15px;
  display: grid;
  align-content: end;
  border-radius: 1rem 1rem 0 0;
}

.project-info {
  cursor: pointer;
  background-color: var(--dark-grey);
  padding: 15px;
  height: 25px;
  color: white;
  font-size: 1.8rem;
  border-bottom: 4px solid var(--blurple);
}

#horiseon {
  grid-area: horiseon;
  background-image: url("../images/horiseon-homepage-screenshot.png");
}

#cssCheatsheet {
  grid-area: cssCheatsheet;
  background-image: url("../images/profile-pic.jpeg");
}

#cssGrid {
  grid-area: cssGrid;
  background-image: url("../images/profile-pic.jpeg");
}

#landingPage {
  grid-area: landingPage;
  background-image: url("../images/profile-pic.jpeg");
}

#studentBio {
  grid-area: studentBio;
  background-image: url("../images/profile-pic.jpeg");
} */

/* Card Styling - Dashed border around the edge */
.card-grid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 1rem 1rem 1rem;
  margin: 2rem 0.5rem;
  min-width: 100px;
  width: 45%;
  background-color: var(--dark-grey);
}

.card:first-child {
  width: 95%;
}

/* Styling for the header of the card, making the position sit on the card border */
.card-header {
  position: relative;
  margin: 1rem 0;
  z-index: 1;
  color: var(--white);
  border-bottom: 2px solid var(--blurple);
  padding: 0 1rem 1rem 1rem;
  text-align: center;

}

/* Changed the colour, size and alignment of the <p> tag in the card section */
.card p {
  color: var(--white);
  font-size: 13px;
  text-align: center;
  padding: 1rem 0;
}

.card img {
  padding: 1rem 0 0 0;
  max-height: 250px;
}

.card:first-child img {
  max-height: 450px;
}

/* Added a transition effect when the cards/card-header loads */
.card, .card-header{
  transition: all 0.5s ease-in-out;
}

/* Box shadow for when the user hovers over the card/card-header */
.card:hover, .card:hover .card-header {
  box-shadow: 0px 0px 10px var(--turquoise);
}
