:root {
  --dark: #151418;
  --white: #f6f6f6;
  --dark-grey: #272727;
  --grey: #404040;
  --light-grey: #979797;
  --blurple: #6a5df8;
  --background-dark: #151418;
}

/* Base reset */
* {
  margin: 0;
  padding: 0;
  font-weight: 400;
}

/* 62.5% of 16px browser font size is 10px - Can now use this for easy rem calculations */
html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

/* Base styles */
body {
  font-size: 1.6rem; /* 16px */
  line-height: 1.4;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: var(--background-dark);
  color: var(--white);
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 4.2rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 2rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--main-white);
  cursor: pointer;
}

img {
  display: block;
  width: 100%;
}

.blurple-text {
  color: var(--blurple);
  font-weight: 500;
}

/* nav */

.navbar {
  display: flex;
  justify-content: space-around;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--background-dark);
  border-bottom: 2px solid var(--blurple);
  z-index: 1;
}

.nav-title {
  font-family: 'Azeret Mono', 'Courier New', Courier, monospace;
  font-size: 5rem;
  font-weight: 700;
  margin-left: 2rem;
}

.nav-list {
  display: flex;
  margin-right: 2rem;
}

.nav-list a {
  display: block;
  font-size: 2rem;
  padding: 2rem;
}

.nav-list a:hover {
  color: var(--blurple);
}

/* hero section */

.hero-banner {
  display: flex;
  height: 50vh;
  justify-content: space-between;
  align-items: center;
  text-align: right;
  overflow: hidden;
  background: var(--background-dark);
  background: linear-gradient(rgba(41, 40, 45, 0.8), rgba(21, 20, 24, 1)), url("../images/geometric-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0 10rem;
  max-width: 200rem;
  margin: 0 auto;
}

.hero-text {
  margin-top: 7rem;
}

.hero-text h3 {
  color: var(--light-grey);
}

.hero-text p {
  max-width: 35rem;
  font-size: 1.4rem;
  font-weight: 400;
}

.hero-img img {
  margin-top: 7rem;
  max-width: 20rem;
  height: auto;
  border-radius: 50%;
  outline: 2px solid var(--white);
}

/* section styling / anchors / headers */

.page-wrapper {
  max-width: 200rem;
  margin: 0 auto;
}

.page-section {
  text-align: left;
  padding: 5rem 0 0 0;
}

.page-section p, h4{
  padding: 0 5rem 0 5rem;
}

.section-header {
  line-height: 1.2em;
  font-size: 3.6rem;
  margin: 0 0 2.5rem 0;
}

.section-header::before {
  content: "|";
  margin-right: 2rem;
  color: var(--blurple);
}

/* ccs trick to ensure that the fixed navbar didn't cover the section headers */
.container {
  position: relative;
}

.anchor {
  position: absolute;
  top: -70px;
  left: 0px;
}

/* portfolio grid */

/* Card Styling - Dashed border around the edge */
.card-grid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0 1rem 1rem 1rem;
  margin: 2rem 0.5rem;
  min-width: 100px;
  width: 45%;
  background-color: var(--dark-grey);
}

.card img {
  padding: 1rem 0 0 0;
  width: 100%;
  height: auto;
}

.card:first-child {
  width: 95%;
}

/* Styling for the header of the card, making the position sit on the card border */
.card-header {
  position: relative;
  margin: 1rem 0;
  z-index: 1;
  color: var(--white);
  border-bottom: 2px solid var(--blurple);
  padding: 0 1rem 1rem 1rem;
  text-align: center;
  width: fit-content;
}

.link-details {
  color: var(--light-grey);
  ;
  display: inline-block;
  padding: 0 1rem;
  font-size: 1.8rem;
}

.link-details:hover {
  color: var(--white);
}

/* Added a transition effect when the cards/card-header loads */
.card {
  transition: all 0.5s ease-in-out;
}

/* Box shadow for when the user hovers over the card/card-header */
.card:hover {
  box-shadow: 0 0 1rem var(--white);
}

/* contact section */

.contact-details {
  color: var(--white);
  display: inline-block;
  padding: 5rem 5rem 5rem 0;
  font-size: 2.2rem;
}

.contact-details:hover {
  color: var(--blurple)
}

/* footer section */

footer {
  border-top: 3px solid var(--blurple);
  color: var(--white);
  padding: 3rem;
  background: var(--dark-grey);
}

footer p {
  padding: 0.5rem 0px;
  font-family: 'Azeret Mono', 'Courier New', Courier, monospace;
  font-size: 1.2rem;
  text-align: center;
  text-transform: uppercase;
  color: var(--white);
  letter-spacing: 0.2rem;
}