* {
  box-sizing: border-box;
}

:root {
  --dark: #151418;
  --white: #f6f6f6;
  --dark-grey: #2d2d2d;
  --grey: #3d3d3d;
  --light-grey: #929292;
  --purple: #8739fa;
  --blue: #00aaf2;
  --background-dark: #151418;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-family: 'Poppins', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: var(--background-dark);
  color: var(--white);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  margin: 0;
}

h2 {
  font-size: 46px;
}

h3 {
  font-size: 24px;
  color: var(--light-grey);
}

h4 {
  font-size: 28px;
}

a {
  color: var(--white);
  text-decoration: none;
}

a:hover {
  color: var(--purple);
}

.page-title {
  font-size: 50px;
  float: left;
  margin-left: 15px;
}

.nav-bar {
  display: flex;
  justify-content: space-around;
  float: right;
  margin-top: 15px;
  margin-right: 15px;
}

.nav-bar a {
  padding: 10px;
}

.hero-banner {
  display: flex;
  width: 100%;
  height: 10rem;
  justify-content: flex-end;
  align-items: center;
  text-align: right;
  color: white;
  overflow: hidden;
  background: var(--background-dark);
  border-top: 2px solid var(--purple);  
  background: linear-gradient(rgba(41, 40, 45, 0.8), rgba(21, 20, 24, 0.8)), url("../images/geometric-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding-right: 200px;
}

.hero-text {
}

.page-section {
  margin: 10px;
}

.page-section h4 {
  text-decoration: underline 2px var(--blue);
}

.contact {

}